.icon {
    margin: 0rem;
    padding: 0rem;
    height: 5rem;
    width: 4rem;
    border-radius: 50%;
    float: left;
    position: relative;
    bottom: 2.5rem;
    right: 2rem;
}
ul {
    list-style-type: none;
    margin: 0;
    display: block;
    padding: 2.8rem;
    background-color: darkolivegreen;
  }

li {
    float: right;
}
a{
    padding: 1rem;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
a:hover {
    padding: 1rem;
    color: rgb(1, 1, 1); 
}
h1{
    text-align: center;
}
.Images{
    text-align: center;
}
.mainImage{
    position: relative;
    width: 30%;
    text-align: center;
    border-radius: 1.5rem;
}
section{
    background-color: white;
    border: .5rem whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
body{
    background-color: lightgray
}
p{
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h2{
    text-align: center;
}
.container{
    display: grid;
    justify-content: center;
}
.aboutsections{
    width: 35rem;
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    border: .2rem solid black;
    border-radius: 2rem;
}
.mealsImage{
    border-radius: 2rem;
    width: 14rem;
    display: block;
    margin-left: 10rem;
}
.aboutImage{
    border-radius: 2rem;
    width: 25rem;
    display: block;
    margin-left: 5rem;
}
.basketballimage{
    border-radius: 2rem;
    width: 20rem;
    display: flex;
    margin-left: 8rem;
}
.aboutul{
  all: initial;
  padding-left: 1rem;
  list-style-type: square;
  float: right;
  margin-top: 1rem;
}
.aboutli{
    float: left;
    clear: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding: .2rem;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
label{
    padding: .5rem;
    font-size: 1.8rem;
}
input{
    width: 12rem;
    height: 1.5rem;
    border: .1rem solid black;
    font-size: 1.2rem;
    text-align: center;
}
#message{
    width: 12rem;
    height: 8rem;
}
#checkbox{
    height: 1rem;
    
}
#submit{
    width: 12rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}
#submit:hover{
    background-color: gray;
}

