.icon {
    margin: 0rem;
    padding: 0rem;
    height: 5rem;
    width: 4rem;
    border-radius: 50%;
    float: left;
    position: relative;
    bottom: 2.5rem;
    right: 2rem;
}
ul {
    list-style-type: none;
    margin: 0;
    display: block;
    padding: 2.8rem;
    background-color: darkolivegreen;
  }

li {
    float: right;
}
a{
    padding: 1rem;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
a:hover {
    padding: 1rem;
    color: rgb(1, 1, 1); 
}
h1{
    text-align: center;
}
.Images{
    text-align: center;
}
.mainImage{
    position: relative;
    width: 30%;
    text-align: center;
    border-radius: 1.5rem;
}
.aboutImage{
    border-radius: 2rem;
}
section{
    background-color: white;
    border: .5rem whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
body{
    background-color: lightgray
}
p{
    font-size: 130%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    text-align: center;
}
h2{
    text-align: center;
}